@import "../../src/main.css";

body {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-5);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: var(--size-3);
  align-items: center;
}

h1 {
  color: var(--brand-1);
}

section {
  padding: var(--size-3);
  border-radius: var(--default-radius);
  border: var(--border-size-1) solid var(--surface-2);
  background-color: var(--surface-1);
  overflow: auto;

  & h2 {
    margin-block-end: var(--size-5);
  }
}

.three-columns {
  display: grid;
  grid-template-columns: min-content repeat(2, minmax(min-content, 1fr));
  align-items: center;
  justify-items: flex-start;
  gap: var(--size-5);
  white-space: nowrap;

  & .header {
    font-weight: var(--font-weight-7);
  }
}

code {
  white-space: pre;
}

#usage code,
pre {
  background-color: var(--surface-2);
  padding: var(--size-relative-2) var(--size-relative-3);
}

.usage {
  display: flex;
  flex-direction: column;
  gap: var(--size-7);
}

:is([data-theme="light"], .light, .light-theme) {
  & .github-icon path {
    fill: black;
  }
}

:is([data-theme="dark"], .dark, .dark-theme) {
  & .github-icon path {
    fill: white;
  }
}

@media (prefers-color-scheme: dark) {
  .github-icon path {
    fill: white;
  }
}

.dashboard {
  width: 1920px;
  aspect-ratio: 16/9;
  background-color: var(--surface-1);
  border: 10px solid black;
  padding: 0;

  nav {
    background-color: var(--surface-2);
    padding-block: var(--size-3);
    padding-inline: var(--size-3);
    font-size: var(--font-size-3);

    img {
      height: 100%;
      max-height: 40px;
      width: auto;
    }
  }

  main {
    padding-inline: var(--size-7);
    padding-block: var(--size-3);
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
    /* align-items: flex-start; */

    h1,
    h2 {
      font-size: var(--font-size-5);
      font-weight: normal;
      color: var(--text-color);
    }

    h2 {
      font-size: var(--font-size-4);
      margin: 0;
    }
  }

  .cards {
    display: flex;
    gap: var(--size-7);
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      width: 400px;
      height: 250px;
      padding: var(--size-5);
      display: flex;
      flex-direction: column;
      gap: var(--size-3);
      border: 3px solid var(--surface-2);
      border-radius: var(--default-radius);

      &.active {
        background-color: var(--surface-2);
      }
    }
  }

  .pills {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-2);
    flex: 1;
    align-items: flex-start;

    .pill {
      background-color: var(--surface-3);
      border-radius: var(--default-radius);
      padding-block: var(--size-1);
      padding-inline: var(--size-2);
    }
  }

  button {
    align-self: flex-end;
  }

  .in-card {
    background-color: var(--surface-3);
    padding: var(--size-5);

    .with-pill {
      background-color: var(--surface-4);
      border-radius: var(--default-radius);
      padding-block: var(--size-1);
      padding-inline: var(--size-2);
    }
  }
}
