button,
.button,
input[type="button"] {
  --button-color-1: var(--brand-1);
  --button-color-2: var(--brand-2);

  position: relative;
  display: inline-flex;
  align-items: center;
  padding-inline: var(--size-relative-3);
  padding-block: var(--size-relative-2);
  border-radius: var(--default-radius);
  background: linear-gradient(
    var(--gradient-angle),
    var(--button-color-1),
    var(--button-color-2)
  );
  gap: var(--size-relative-2);

  color: var(--gray-1);

  transition-duration: var(--default-animation-time);

  &:hover {
    background: linear-gradient(
      var(--gradient-angle),
      color-mix(in srgb, var(--button-color-1) 90%, white),
      color-mix(in srgb, var(--button-color-2) 90%, white)
    );
  }

  &:active {
    background: linear-gradient(
      var(--gradient-angle),
      color-mix(in srgb, var(--button-color-1) 80%, white),
      color-mix(in srgb, var(--button-color-2) 80%, white)
    );
    transition: 0s;
  }

  &:disabled {
    pointer-events: none;
    background: linear-gradient(
      var(--gradient-angle),
      color-mix(in srgb, var(--button-color-1) 70%, white),
      color-mix(in srgb, var(--button-color-2) 70%, white)
    );
  }

  &.secondary {
    background: transparent;
    color: var(--button-color);
    background-color: color-mix(
      in srgb,
      transparent 90%,
      var(--surface-contrast)
    );

    &:hover {
      background: color-mix(in srgb, transparent 80%, var(--surface-contrast));
    }

    &:active {
      background-color: color-mix(
        in srgb,
        transparent 70%,
        var(--surface-contrast)
      );
    }

    &:disabled {
      background-color: color-mix(
        in srgb,
        transparent 60%,
        var(--surface-contrast)
      );
    }
  }

  &.discrete {
    background: transparent;
    color: var(--text-1);

    &:hover {
      background-color: color-mix(
        in srgb,
        transparent 90%,
        var(--surface-contrast)
      );
    }

    &:active {
      background-color: color-mix(
        in srgb,
        transparent 80%,
        var(--surface-contrast)
      );
    }

    &:disabled {
      color: var(--text-3);
      background-color: transparent;
    }
  }

  &:is(.fas, .far, .fal, .fad, .fab) {
    padding-inline: var(--size-2);
    padding-block: var(--size-2);
  }

  & span:is(.fas, .far, .fal, .fad, .fab) {
    &.left {
      margin-left: calc(-1 * var(--size-relative-1));
    }
    &.right {
      margin-right: calc(-1 * var(--size-relative-1));
    }
  }

  &.danger {
    --button-color-1: var(--danger-1);
    --button-color-2: var(--danger-2);
  }
  &.warning {
    --button-color-1: var(--warning-1);
    --button-color-2: var(--warning-2);
  }
}
