.checkbox {
  display: inline-block;
  position: relative;
  padding-left: calc(var(--size-relative-5) + var(--size-relative-3));
  cursor: pointer;
  min-height: var(--size-relative-5);

  &:hover input:not(:checked) ~ .checkmark {
    background: var(--surface-2);
  }

  & input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;

    &:checked ~ .checkmark {
      background: linear-gradient(
        var(--gradient-angle),
        var(--brand-1),
        var(--brand-2)
      );

      &:after {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
      }
    }

    &:disabled ~ .checkmark {
      cursor: not-allowed;
      background: var(--surface-1);
      border: var(--border-size-1) solid var(--surface-4);
      color: var(--text-3);
    }

    &:checked:disabled ~ .checkmark {
      background: linear-gradient(
        var(--gradient-angle),
        var(--brand-1),
        var(--brand-2)
      );

      &:after {
        border-color: var(--gray-3);
      }
    }
  }

  & .checkmark {
    position: absolute;
    inset: 0;
    height: var(--size-relative-5);
    width: var(--size-relative-5);
    background-color: var(--surface-0);
    border-radius: var(--default-radius);
    transition: background-color 300ms ease-in-out;
    box-shadow: 0 0 1px 1px
      color-mix(in srgb, var(--surface-0) 80%, var(--surface-contrast));

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: calc(50% - 0.2em / 2);
      width: 0.4em;
      height: 0.8em;
      border: solid var(--gray-1);
      border-width: 0 0.2em 0.2em 0;
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
      transition: transform 300ms ease-in-out;
    }
  }
}
