.tabs {
  --border-width: 2px;
  --active-color: color-mix(
    in srgb,
    var(--surface-1) 60%,
    var(--surface-contrast)
  );

  display: flex;
  overflow: auto;
  padding-inline: var(--size-5);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: var(--border-width) solid var(--active-color);
  }

  & > * {
    display: flex;
    align-items: center;
    gap: var(--size-relative-1);
    color: var(--text-3);
    padding-inline: var(--size-relative-3);
    padding-block: var(--size-relative-2);
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    border: var(--border-width) solid
      color-mix(in srgb, var(--surface-1) 90%, var(--surface-contrast));
    border-bottom: 0;

    &:not(:first-child) {
      margin-left: calc(-1 * var(--border-width));
    }

    &:not(.disabled):hover {
      cursor: pointer;
      color: var(--text-1);
      border-color: var(--active-color);
    }

    &.disabled {
      cursor: not-allowed;
    }

    &.active {
      z-index: 1;
      color: var(--text-1);
      border-color: var(--active-color);
      background-color: var(
        --surface-1
      ); /* This is only necessary to remove the bottom border from active, but makes it ugly on other surfaces */
    }
  }
}
