@import "npm:open-props/open-props.min.css";
@import "npm:open-props/normalize.min.css";
@import "npm:open-props/theme.light.switch.min.css";
@import "npm:open-props/theme.dark.switch.min.css";

@import "fontawesome/css/all.css";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "props/variable-sizes.css";
@import "props/theme-extended.css";
@import "props/light-extended.css";
@import "props/dark-extended.css";

@import "components/icons.css";

@import "components/buttons.css";
@import "components/button-groups.css";

@import "components/inputs.css";
@import "components/selects.css";
@import "components/checkboxes.css";
@import "components/radios.css";
@import "components/switches.css";
@import "components/textareas.css";

@import "components/tabs.css";
@import "components/modals.css";
@import "components/tooltips.css";
@import "components/toasts.css";
@import "components/scrollbars.css";

html {
  --brand-1: #00a3ff;
  --brand-2: #004288;
  --danger-1: #ff5858;
  --danger-2: #dd0337;
  --warning-1: #ffaa33;
  --warning-2: #ff4d00;
  --brand: var(--brand-1);
  --default-radius: var(--radius-2);
  --default-animation-time: 300ms;
  --gradient-angle: 202.5deg;

  @media (prefers-reduced-motion: reduce) {
    --default-animation-time: 0s;
  }

  font-family: "Source Sans 3", var(--font-sans);
}

body {
  color: var(--text-1);
}
